# Description: This file contains the environment variables that are used in the application.
# Copy this file to a new file called .env and fill in the values for the variables.

REACT_APP_COINLIB_APIKEY=your_api_key_here
